html {
 font-family: sans-serif;
}
body {
 display: flex;
}

button {
  background-color: red;
}
h1 {


}

.game {
 background-color: red;
 text-align: center;
 height: auto;
 width:25vh;
}

.game-square {
 background-color: white;
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 /* margin: 8vh; */

}
.game-board {
display: grid;
height:auto;
min-height: 400px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-gap: 10px;
width: 80%;
background-color: blue;
margin: 5vh auto;
}
